[submodule "sdk/argeo-build"]
	path = sdk/argeo-build
	url = ../argeo-build
	branch = unstable
[submodule "sdk/tp/native/llama.cpp"]
	path = native/tp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = master
[submodule "sdk/tp/native/ggml"]
	path = native/tp/ggml
	url = https://github.com/ggerganov/ggml.git
	branch = master
