[submodule "sdk/argeo-build"]
	path = sdk/argeo-build
	url = ../argeo-build
[submodule "native/include/argeo/jni"]
	path = native/include/argeo/jni
	url = ../argeo-include-jni
[submodule "sdk/tp/native/llama.cpp"]
	path = native/tp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "sdk/tp/native/ggml"]
	path = native/tp/ggml
	url = https://github.com/ggml-org/ggml.git
